@import url(./assets/styles/basic-styles.css);

main h1 {
  width: 20%;
  text-align: center;
  margin-block-start: 2.6rem;
  margin-block-end: 5.75rem;
  font-size: 24px;
  font-weight: 400;
  align-self: flex-start;
  text-align: left;
  margin-left: 35%;
}

main img {
  width: 93%;
}

.grid-container {
  margin-block-start: 7rem;
  margin-block-end: 6.5rem;
}
