@import url(../../assets/styles/basic-styles.css);
@import url(../../assets/styles/short-pages.css);

.grid-container-subpages {
  width: 100%;
}

.grid-container-subpages div:nth-of-type(1) {
  background: url(../../assets/images/section-composition4.jpg) no-repeat center;
  background-size: cover;
}

.grid-container-subpages div:nth-of-type(2) {
  text-align: center;
}

.grid-container-subpages img {
  margin-block-end: 1rem;
}

.grid-container-subpages h1 {
  margin-block-end: 1.3rem;
}

.grid-container-subpages p {
  margin-block-end: 1.3rem;
}

.grid-container-subpages p:last-of-type {
  margin-block-end: 2.3rem;
}

.grid-container-subpages a {
  color: var(--clr-background);
  background-color: var(--clr-rosa);
  padding: 0.75rem 2rem;
  cursor: pointer;
}
