@font-face {
  font-family: WorkSans;
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: LucidaRegular;
  src: url(../fonts/LucidaGrande.ttf);
  font-weight: 400;
}

@font-face {
  font-family: LucidaBold;
  src: url(../fonts/LucidaGrandeBold.ttf);
  font-weight: 700;
}

:root {
  --clr-background: #2e2e2e;
  --clr-paragraph: #737373;
  --clr-nav-links: #867772;
  --clr-rosa: #ebccc2;
  --clr-white: #ffffff;
  --clr-black: #2e2e2e;
  --font-workSans: Worksans;
  --font-lucidaReg: LucidaRegular;
  --font-lucidaBold: LucidaBold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-workSans);
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--clr-background);
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--clr-rosa);
}

p {
  font-size: 1rem;
  color: var(--clr-paragraph);
  line-height: 1.5em;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.links-nav {
  color: var(--clr-nav-links);
  font-size: 1rem;
}

.links-aside {
  color: var(--clr-white);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: LucidaRegular;
  opacity: 0.8;
}

/* ! Header */

header {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin-inline: auto;
  padding-block: 2.5rem;
}

header svg {
  height: 40px;
  width: 40px;
}

header nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

header nav div {
  display: flex;
  gap: 1rem;
}

/* ! Aside Navbar */

aside nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10rem;
  left: 1.5rem;
}

aside nav div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-block: 0.2rem;
}

aside nav div:first-of-type {
  margin-block-start: 0;
}

aside nav div:last-of-type {
  margin-block-end: 0;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 0.8px solid var(--clr-white);
  outline: 2px solid var(--clr-white);
  outline-offset: 0.3rem;
}

.cirlce-no-outline {
  outline: none;
}

.line {
  height: 40px;
  border-left: 1px solid var(--clr-white);
  margin-left: 0.4rem;
}

/* ! Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 70%;
  gap: 2rem;
}

.grid-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container h2 {
  margin-block-end: 1.125rem;
}

.grid-container p {
  margin-block-end: 1.3125rem;
}
